<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header' , {cates:config.menu}) %>
    <div class="body-wrapper">
        <%-body%>
        <%- partial('_partial/footer') %>
    </div>
    <%- js('js/f25.js') %>
    <!-- highlight.js代码高亮主题 script 引入-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- highlight.js代码高亮主题 script 引入-->
</body>
</html>